Modul8 _Tugas 6_Pertemuan 6_ Otomasi Pengajuan Cuti Karyawan_Arfan Khoeri.json
{
  "name": "Modul8 _Tugas 6_Pertemuan 6_ Otomasi Pengajuan Cuti Karyawan_Arfan Khoeri",
  "nodes": [
    {
      "parameters": {
        "path": "approval-handler",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        96
      ],
      "id": "60df363c-e011-4073-b03a-19121a2c39d5",
      "name": "Webhook",
      "webhookId": "5fc8716d-eb8a-4e66-a003-f353ce6fbb3a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "da7592df-c84f-4f88-96a5-f157db3fc18c",
              "leftValue": "approved",
              "rightValue": "={{ $json.query.status }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "5067e30d-5ed7-4406-adfb-b5e43a320dae",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "768a17f9-f350-4a08-a7d4-38930340711c",
      "name": "Cari Data Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GLcblT1NlEdQVQyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json.query || {};\nconst currentData = items[0]?.json || {};\n\nconst daysRequested = parseInt(webhookData.days || 0);\nconst currentBalance = parseInt(currentData.Saldo_Cuti || 0);\n\nif (!currentData.Saldo_Cuti) {\n  throw new Error(\"Saldo cuti tidak ditemukan\");\n}\n\nconst newBalance = currentBalance - daysRequested;\n\nreturn [{\n  json: {\n    ...currentData,\n    newBalance\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "b279df62-18c9-43f4-9e0c-010ea0b6a164",
      "name": "Hitung Saldo"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wac-3gI81NIQAZkJSmeqBpw6heg3M0KS2H4ba53CFQg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Saldo_Cuti": "={{ $json.newBalance }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama_Lengkap",
              "displayName": "Nama_Lengkap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saldo_Cuti",
              "displayName": "Saldo_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager_Email",
              "displayName": "Manager_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "8b43a520-0b32-424e-95fa-389de4d2aaa2",
      "name": "Update Saldo Cuti",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GLcblT1NlEdQVQyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2069484935,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU/edit#gid=2069484935"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Approved"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        0
      ],
      "id": "e16e93c8-26ca-4e4e-be3f-6379df75d967",
      "name": "Update Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GLcblT1NlEdQVQyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Berhasil! Pengajuan cuti telah disetujui. Saldo karyawan sudah dipotong otomatis.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        0
      ],
      "id": "d8844da2-72ea-4a0b-9a89-2c544638e253",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.query.email }}",
        "subject": "=Pengajuan Cuti DITOLAK",
        "message": "=Halo,\n\nMohon maaf, pengajuan cuti Anda untuk durasi {{ $json.query.days }} hari telah DITOLAK oleh Manager.\n\nSilakan hubungi atasan Anda untuk diskusi lebih lanjut.\n\nSalam,\nHR System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        208
      ],
      "id": "d65a295a-1bf5-4edb-bac1-643bb4b5e095",
      "name": "Cuti Ditolak",
      "webhookId": "701ecade-31db-4765-8ba7-f1432822e188",
      "credentials": {
        "gmailOAuth2": {
          "id": "lcNoevsigHs3TBdz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Konfirmasi: Pengajuan cuti telah berhasil DITOLAK. Tidak ada saldo yang dipotong.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        208
      ],
      "id": "39a82425-cf03-418e-bf5b-e817606b3665",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2069484935,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU/edit#gid=2069484935"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $('Webhook').item.json.query.id }}",
            "Status": "Rejected"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        208
      ],
      "id": "4fb6ccfa-be09-4832-b888-00263f77cc23",
      "name": "Update Logs1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GLcblT1NlEdQVQyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Formulir Pengajuan Cuti",
        "formDescription": "Silakan isi detail cuti anda.pastingan tanggal cuti anda sesuai",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Karyawan",
              "placeholder": "Email Kamu"
            },
            {
              "fieldLabel": "Jenis Cuti",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Cuti Tahunan"
                  },
                  {
                    "option": "Cuti Sakit"
                  },
                  {
                    "option": "Cuti Tanpa Bayaran"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Tanggal Mulai",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Tanggal Selesai",
              "fieldType": "date"
            },
            {
              "fieldLabel": "Alasan Keterangan",
              "fieldType": "textarea",
              "placeholder": "Keterangan"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1216,
        -400
      ],
      "id": "cb780406-082f-4604-babd-697400234496",
      "name": "On form submission",
      "webhookId": "482c8a89-71fd-4d46-9656-2760eff6db4f"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Email",
              "lookupValue": "={{ $json['Email Karyawan'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1024,
        -400
      ],
      "id": "7f37934a-d7e7-41cd-926a-055ca13f0226",
      "name": "Baca Sheet DB_Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GLcblT1NlEdQVQyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil Data dari Node Google Sheets (Input node ini)\n// Asumsi: Node Google Sheets mengembalikan 1 item (data karyawan ybs)\nconst employeeData = items[0].json;\n\n// 2. Ambil Data dari Node Form (Node sebelumnya)\n// Pastikan nama Node Form di dalam kurung $('...') SAMA PERSIS dengan nama node Anda\nconst formData = $('On form submission').first().json;\n\n// 3. Proses Tanggal menggunakan Luxon (LANGSUNG DIPAKAI)\n// Pastikan field di form Anda benar: \"Tanggal Mulai\" dan \"Tanggal Selesai\"\nconst start = DateTime.fromISO(formData[\"Tanggal Mulai\"]);\nconst end = DateTime.fromISO(formData[\"Tanggal Selesai\"]);\n\n// Hitung durasi (selisih hari + 1 agar inklusif)\nconst durationInDays = end.diff(start, 'days').days + 1;\n\n// 4. Logika Validasi Saldo\n// Pastikan kolom di Google Sheet bernama \"Saldo_Cuti\"\nconst currentBalance = parseInt(employeeData[\"Saldo_Cuti\"]); \nconst hasEnoughBalance = currentBalance >= durationInDays;\n\n// Generate ID Unik (Gabungan waktu + random biar tidak kembar)\nconst uniqueId = 'REQ-' + Date.now(); \n\nreturn [\n  {\n    json: {\n      ...employeeData,\n      ...formData,\n      durationRequested: durationInDays,\n      isApprovedSystem: hasEnoughBalance,\n      message: hasEnoughBalance ? \"Saldo Cukup\" : \"Saldo Tidak Cukup\",\n      requestId: uniqueId // <--- Field Baru\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -400
      ],
      "id": "e3076665-daae-4d99-a025-0f08ce8b27aa",
      "name": "Validasi Cuti"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2069484935,
          "mode": "list",
          "cachedResultName": "Log Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nk_dHC_g0Z5TQNiOw_yG2atrfeA_P6pRYr_YVhTRPVU/edit#gid=2069484935"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $json.requestId }}",
            "Timestamp": "={{ $json.submittedAt }}",
            "Email_Karyawan": "={{ $json['Email Karyawan'] }}",
            "Jenis_Cuti": "={{ $json['Jenis Cuti'] }}",
            "Tanggal_Mulai": "={{ $json['Tanggal Mulai'] }}",
            "Tanggal_Selesai": "={{ $json['Tanggal Selesai'] }}",
            "Durasi": "={{ $json.durationRequested }}",
            "Alasan": "={{ $json['Alasan/Keterangan'] }}",
            "Status": "Pending"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        -400
      ],
      "id": "2b564c0b-a11d-428a-902a-ac9dab076f70",
      "name": "Update Sheet Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GLcblT1NlEdQVQyA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a3fb815d-8a8e-4440-ad30-eeb7303aa75f",
              "leftValue": "={{ $('Validasi Cuti').item.json.isApprovedSystem }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "e066fedb-91ff-497c-bf07-9319a23d8477",
              "leftValue": "={{ $('Validasi Cuti').item.json.isApprovedSystem }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        -400
      ],
      "id": "a014e27e-c70b-4514-b18f-9c5b8517b817",
      "name": "Periksa Pesan"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validasi Cuti').item.json.Manager_Email }}",
        "subject": "=Permohonan Cuti",
        "message": "=<p>Halo Manager,</p>\n\n<p>Ada pengajuan cuti baru yang membutuhkan persetujuan Anda:</p>\n\n<ul>\n  <li><strong>Email:</strong> {{ $json.Email_Karyawan }}</li>\n  <li><strong>Jenis Cuti:</strong> {{ $json.Jenis_Cuti }}</li>\n  <li><strong>Tanggal:</strong> {{ $json.Tanggal_Mulai }} s.d {{ $json.Tanggal_Selesai }}</li>\n  <li><strong>Total Durasi:</strong> {{ $json.Durasi }} Hari</li>\n  <li><strong>Alasan:</strong> {{ $json.Alasan || 'Tidak ada alasan' }}</li>\n</ul>\n\n<p>Silakan klik keputusan Anda:</p>\n\n<p>\n  <a href=\"https://n8n-ougj0xl0tmk1.jkt1.sumopod.my.id/webhook/approval-handler?status=approved&email={{ $json.Email_Karyawan }}&days={{ $json.Durasi }}&id={{ $json.ID_Request }}\" \n     style=\"background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; margin-right: 15px; display: inline-block;\">\n     ✅ SETUJUI\n  </a>\n\n  <a href=\"https://n8n-ougj0xl0tmk1.jkt1.sumopod.my.id/webhook/approval-handler?status=rejected&email={{ $json.Email_Karyawan }}&days={{ $json.Durasi }}&id={{ $json.ID_Request }}\" \n     style=\"background-color: #f44336; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n     ✖️ TOLAK\n  </a>\n</p>\n\n<p><small>Link ini sudah menggunakan Production URL. Pastikan workflow sudah di-Publish agar tombol berfungsi.</small></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -176,
        -560
      ],
      "id": "d29c9e82-0e59-4078-bc3e-73ddae4bd138",
      "name": "Email Diterima",
      "webhookId": "f03439da-1892-4664-9f33-ab524a0aef8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "lcNoevsigHs3TBdz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email_Karyawan }}",
        "subject": "=Pengajuan Cuti Ditolak - Saldo Tidak Mencukupi",
        "message": "=Halo ,{{ $('Validasi Cuti').item.json.Nama_Lengkap }}\n\nPengajuan cuti Anda untuk tanggal {{ $('Validasi Cuti').item.json['Tanggal Mulai'] }} s/d {{ $('Validasi Cuti').item.json['Tanggal Selesai'] }} DITOLAK secara otomatis oleh sistem.\n\nAlasan: Sisa saldo cuti Anda ({{ $json.Saldo_Cuti }} hari) tidak mencukupi untuk pengajuan {{ $('Validasi Cuti').item.json.durationRequested }} hari.\n\nSalam,\nHR Bot",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -176,
        -304
      ],
      "id": "2978f2bc-8de4-4b1a-a9bd-65fd0deea850",
      "name": "Email Cuti Tidak Cukup",
      "webhookId": "f03439da-1892-4664-9f33-ab524a0aef8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "lcNoevsigHs3TBdz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update Saldo Cuti').item.json.Email }}",
        "subject": "=✅ Pengajuan Cuti DISETUJUI",
        "message": "=Halo,\n\nKabar baik! Pengajuan cuti Anda telah DISETUJUI oleh Manager.\n\nDetail:\n- Durasi: {{ $('Webhook').item.json.query.days }} Hari\n- Status: APPROVED\n- Saldo Cuti: Telah dipotong otomatis.\n\nTerima kasih,\nHR System\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        0
      ],
      "id": "f853f1a7-b18b-4a02-a469-8127905cd4ad",
      "name": "Cuti Diterima",
      "webhookId": "f03439da-1892-4664-9f33-ab524a0aef8d",
      "credentials": {
        "gmailOAuth2": {
          "id": "lcNoevsigHs3TBdz",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cari Data Karyawan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti Ditolak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cari Data Karyawan": {
      "main": [
        [
          {
            "node": "Hitung Saldo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hitung Saldo": {
      "main": [
        [
          {
            "node": "Update Saldo Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Saldo Cuti": {
      "main": [
        [
          {
            "node": "Update Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Logs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Cuti Diterima",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti Ditolak": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "Update Logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Baca Sheet DB_Karyawan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Sheet DB_Karyawan": {
      "main": [
        [
          {
            "node": "Validasi Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Cuti": {
      "main": [
        [
          {
            "node": "Update Sheet Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet Log": {
      "main": [
        [
          {
            "node": "Periksa Pesan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Periksa Pesan": {
      "main": [
        [
          {
            "node": "Email Diterima",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Cuti Tidak Cukup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f3f1d9df-6c35-4b9e-b78a-fa69aeb9be8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ab2e820f183119a1cff325c1627456cb8157705ca3c559ce30aafaab9ef8286"
  },
  "id": "GH1eiUmFC5pV41Bj",
  "tags": []
}